html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.body--lock {
  overflow: hidden;
}

.body--full-screen-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-hover--visible {
  display: block;
}

.main {
  padding-top: 56px;
  padding-bottom: 16px;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main--lock {
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

@media (max-width: 599px) {
  .main {
    padding-bottom: 0;
  }
}

@media (min-width: 600px) {
  .main {
    padding-top: 72px;
  }
}

.main input:focus, .main textarea:focus {
  outline-color: #007e7e;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.container--personal-info {
  padding: 0;
}

@media (max-width: 599px) {
  .main .container {
    margin-bottom: 0;
  }
}

.save-button__inner {
  width: 100%;
  background-color: #007e7e;
  border: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
  padding: 10px 12px;
  margin: 20px 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  min-height: 41px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-family: inherit;
  text-transform: uppercase;
}

.form-description {
  margin-bottom: 5px;
  padding: 12px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid rgba(0, 75, 75, 0.1);
  color: #004b4b;
  background-color: rgba(0, 126, 126, 0.1);
  font-size: 14px;
  line-height: 17px;
}

.form-description__title {
  font-weight: 700;
  margin-bottom: 4px;
}

.form-description__text {
  font-weight: 400;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-combine-upright: 0;
  background-color: #fff;
  height: 56px;
}

.header--centred-text {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.header__search-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__search-btn path {
  fill: #007e7e;
}

.header__search-form {
  padding: 10px 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  background-color: #fff;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__search-form--current {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header__search-form::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29248 14.8877C9.67871 14.8877 10.957 14.4395 12.0029 13.6924L15.9375 17.627C16.1201 17.8096 16.3608 17.9009 16.6182 17.9009C17.1577 17.9009 17.5396 17.4858 17.5396 16.9546C17.5396 16.7056 17.4565 16.4648 17.2739 16.2905L13.3643 12.3726C14.186 11.2935 14.6758 9.95703 14.6758 8.50439C14.6758 4.99316 11.8037 2.12109 8.29248 2.12109C4.78955 2.12109 1.90918 4.98486 1.90918 8.50439C1.90918 12.0156 4.78125 14.8877 8.29248 14.8877ZM8.29248 13.5098C5.55322 13.5098 3.28711 11.2437 3.28711 8.50439C3.28711 5.76514 5.55322 3.49902 8.29248 3.49902C11.0317 3.49902 13.2979 5.76514 13.2979 8.50439C13.2979 11.2437 11.0317 13.5098 8.29248 13.5098Z' fill='%23111111'%3E%3C/path%3E%3C/svg%3E");
}

.header__search-input {
  position: relative;
  color: #111111;
  height: 36px;
  padding: 12px 12px 12px 40px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}

.header__search-results {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 200;
  display: none;
  min-height: -webkit-calc(100vh - 55px);
  min-height: calc(100vh - 55px);
}

.header__search-results--current {
  display: block;
}

.header__search-item {
  background-color: #fff;
}

.header__search-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
}

.header__search-button {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.header__search-button::after {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12' %3E%3Cdefs%3E%3Csvg id='Bold' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23999999'%3E%3C/use%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.data {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}

.data__buttons-wrapper {
  padding: 8px 0;
}

.data__button-list {
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 38px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: rgba(0, 0, 0, 0.05);
}

.data__button-item {
  position: relative;
}

.data__button-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  top: 25%;
  right: -1px;
  background-color: #999999;
  opacity: 0.24;
}

.data__button-item:last-child::after {
  content: none;
}

.data__button-item--current::after {
  content: none;
}

.data__button {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: #111111;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 400;
}

.data__button-item--current .data__button {
  color: #007e7e;
  background-color: white;
  font-weight: 600;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
}

.data__sections-wrapper {
  padding-bottom: 15px;
}

.content-section {
  display: none;
  padding-top: 10px;
  min-height: -webkit-calc(100vh - 156px);
  min-height: calc(100vh - 156px);
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  -webkit-transform: translateX(-100vw);
      -ms-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (max-width: 599px) {
  .content-section {
    min-height: -webkit-calc(100vh - 130px);
    min-height: calc(100vh - 130px);
  }
}

.content-section--current {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  display: -ms-grid;
  display: grid;
}

.content-section__item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-section__item-inner img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  text-align: left;
}

.content-section__button-add-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-section__button-add {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  background-color: #007e7e;
  border: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
  padding: 10px 12px;
  margin: 20px 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  min-height: 41px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-family: inherit;
  text-transform: uppercase;
}

.content-section__button {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr max-content max-content;
      grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
      grid-template-columns: 1fr max-content max-content;
  background-color: transparent;
  border: none;
  font-family: inherit;
  width: 100%;
}

.content-section__button::after {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12' %3E%3Cdefs%3E%3Csvg id='Bold' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23999999'%3E%3C/use%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.content-section__input-data-button {
  margin-top: 15px;
  width: 56px;
  height: 56px;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #007e7e;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-align-self: end;
      -ms-flex-item-align: end;
              -ms-grid-row-align: end;
          align-self: end;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 4px 4px) drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 4px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 4px 4px) drop-shadow(rgba(0, 0, 0, 0.12) 0px 0px 4px);
}

.content-section__input-data-button svg {
  fill: #fff;
}

.list__item {
  padding: 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  text-align: left;
}

.list__content {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #555555;
}

.details {
  display: none;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  -webkit-transform: translateX(100vw);
      -ms-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.details .container {
  min-height: 420px;
  height: 100%;
}

.details--current {
  display: -ms-grid;
  display: grid;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  padding-bottom: 16px;
}

.details__header {
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 56px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__back-button {
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.details__header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.details__content {
  padding: 8px 0;
  margin-bottom: 17px;
  background-color: #fff;
}

.details__list li:last-child {
  border-bottom: 0;
}

.details__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.details__text {
  padding: 12px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 75, 75, 0.1);
  color: #004b4b;
  background-color: rgba(0, 126, 126, 0.1);
}

.details__img-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.details__title-for-dish {
  width: 100%;
  padding: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
  padding: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.popup-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 665px;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup-wrapper--current {
  display: block;
}

.popup {
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  width: 50%;
  min-width: 500px;
  max-width: 700px;
  height: 80%;
  max-height: 800px;
  min-height: 635px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-transition: opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
  transition: opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
  -o-transition: transform 200ms ease-out 0s, opacity 200ms ease 0s;
  transition: transform 200ms ease-out 0s, opacity 200ms ease 0s;
  transition: transform 200ms ease-out 0s, opacity 200ms ease 0s, -webkit-transform 200ms ease-out 0s;
}

@media (max-height: 650px) {
  .popup {
    top: 0;
    -webkit-transform: translate(-50%, 15px);
        -ms-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
  }
}

@media (max-width: 599px) {
  .popup {
    height: 100vh;
    max-height: unset;
    min-width: unset;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.popup__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.popup__button-reset-close {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' id='Bold'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23007E7E'%3E%3C/use%3E%3C/svg%3E");
}

.popup__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
  margin-bottom: 16px;
}

.popup__button-submit-open {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.popup__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.popup__item {
  padding: 8px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  row-gap: 8px;
}

.popup__item-with-description {
  position: relative;
}

.popup__item--with-input-description {
  position: relative;
}

.popup__labels-description {
  text-align: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 11px;
  width: 100%;
  max-width: 100px;
  height: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
}

.popup__label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555555;
}

.popup__required {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: #999999;
}

.popup input {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.popup__input {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 12px;
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #111111;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-family: inherit;
  border: none;
  -webkit-transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  -o-transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
}

.popup__input:focus {
  outline-color: #007e7e;
}

.popup__input--button {
  position: relative;
  text-align: left;
}

.popup__input--button::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' %3E%3Cdefs%3E%3Csvg viewBox='0 0 24 24' fill='none' id='icon-import' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='M6 9L12 15L18 9' stroke='var(--stroke-color)' stroke-width='var(--stroke-width)' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23icon-import' stroke='%23999999' fill='%23999999' stroke-width='1.5px'%3E%3C/use%3E%3C/svg%3E");
}

.popup__commentary {
  resize: none;
  height: 104px;
}

.popup__radio-input-wrapper {
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  z-index: 10;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: scale 0.3s ease;
  -o-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.popup__radio-input-wrapper--current {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__radio-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.popup__radio-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007e7e;
}

.popup__radio-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23007E7E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: none;
}

.popup__checkbox-item {
  padding: 0 0;
}

.popup__radio-input:checked + .popup__radio-label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20'%0Aheight='20' viewBox='0 0 24 24' fill='%23007E7E'%3E%3Cpath d='M23.374.287a1.5,1.5,0,0,0-2.093.345L7.246,20.2,2.561,15.511A1.5,1.5,0,1,0,.439,17.632l5.935,5.934a1.525,1.525,0,0,0,2.279-.186l15.066-21A1.5,1.5,0,0,0,23.374.287Z'%3E%3C/path%3E%3C/svg%3E");
}

.popup__radio-label {
  padding: 12px 0;
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #111111;
}

.popup__radio-button-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.calculator-wrapper {
  height: 100%;
  min-height: 465px;
}

.calculator {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  padding: 0;
  height: 100%;
}

.calculator__header-wrapper {
  background-color: #EDEDED;
}

.calculator__header {
  margin: 0 auto;
  padding: 16px 22px;
  max-width: 768px;
}

.calculator__form-inner {
  height: 100%;
}

.calculator__dish-title {
  margin-bottom: 10px;
}

.calculator__dish-all-kcal {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
}

.calculator__dish-progress-bar {
  margin-bottom: 12px;
  width: 100%;
  height: 4px;
  background-color: #D9D9D9;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.calculator__dish-progress-span {
  display: block;
  height: 100%;
  width: 0%;
  background-color: #007e7e;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.calculator__dish-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.calculator__dish-item {
  position: relative;
  font-size: 12px;
  padding-left: 11px;
}

.calculator__dish-item::before {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-top: 2px;
  margin-right: 3px;
  content: "";
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #AC6969;
}

.calculator__form {
  height: 100%;
}

.calculator__form-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__dish-fieldset-wrapper {
  margin: 0 auto;
  max-width: 768px;
  padding: 16px 22px;
}

.calculator__dish-fieldset {
  margin-bottom: 25px;
  padding: 0;
  border: 0;
}

.calculator__dish-legend {
  width: 100%;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
}

.calculator__dish-reset-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23b3b3b3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillrule='evenodd' cliprule='evenodd' d='M5.98949 4.57537C5.79423 4.38011 5.47765 4.38011 5.28239 4.57537L4.57528 5.28248C4.38002 5.47774 4.38002 5.79432 4.57528 5.98958L10.5857 12L4.57539 18.0104C4.38012 18.2057 4.38012 18.5222 4.57539 18.7175L5.28249 19.4246C5.47775 19.6199 5.79434 19.6199 5.9896 19.4246L12 13.4143L18.0103 19.4246C18.2056 19.6199 18.5222 19.6199 18.7174 19.4246L19.4245 18.7175C19.6198 18.5222 19.6198 18.2057 19.4245 18.0104L13.4142 12L19.4246 5.98958C19.6199 5.79432 19.6199 5.47774 19.4246 5.28248L18.7175 4.57537C18.5223 4.38011 18.2057 4.38011 18.0104 4.57537L12 10.5858L5.98949 4.57537Z'%3E%3C/path%3E%3C/svg%3E");
  border: none;
  background-repeat: no-repeat;
}

.calculator__dish-list-input {
  margin-bottom: 10px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.calculator__dish-item-input {
  position: relative;
}

.calculator__dish-item-input:first-child .calculator__dish-input {
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
}

.calculator__dish-item-input:nth-child(2) .calculator__dish-input {
  border-left: 0;
  border-right: 0;
}

.calculator__dish-item-input:last-child .calculator__dish-input {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
}

.calculator__dish-input {
  padding: 7px 40px 7px 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  outline-color: #007e7e;
  text-align: center;
}

.calculator__dish-input::-webkit-input-placeholder {
  color: #000000;
  font-family: inherit;
  text-align: center;
}

.calculator__dish-input:-ms-input-placeholder {
  color: #000000;
  font-family: inherit;
  text-align: center;
}

.calculator__dish-input::-ms-input-placeholder {
  color: #000000;
  font-family: inherit;
  text-align: center;
}

.calculator__dish-input::placeholder {
  color: #000000;
  font-family: inherit;
  text-align: center;
}

.calculator__dish-description-span {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 8px;
  color: #A9A9A9;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calculator__dish-range:focus {
  outline: none;
}

.calculator__dish-button-wrapper {
  background-color: #EDEDED;
  padding: 16px 22px;
}

.calculator__dish-button-submit {
  margin: 0 auto;
  max-width: 768px;
  display: block;
  background-color: #007e7e;
  width: 100%;
  padding: 18px;
  border: none;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  color: #ffffff;
}

.custom-range {
  position: relative;
}

.custom-range__value {
  position: absolute;
  bottom: -30px;
  color: #989898;
  font-size: 14px;
}

.custom-range__value--min {
  left: 0;
}

.custom-range__value--max {
  right: 0;
}

.slider {
  margin: 25px 0;
  height: 5px;
  width: 100%;
  position: relative;
  background: #d9d9d9;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.slider input {
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  position: absolute;
  background: none;
  outline: none;
  top: 0;
  z-index: 2;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: none;
  cursor: pointer;
}

.slider .custom-range__progress-bar {
  height: 100%;
  width: 0%;
  background: #007e7e;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: relative;
}

.slider .custom-range__thumb {
  height: 25px;
  width: 25px;
  background: #007e7e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2px;
}

.slider .custom-range__thumb span {
  height: 100%;
  width: 100%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #007e7e;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.personal-info {
  padding: 0 16px;
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.personal-info--lock {
  overflow: hidden;
  height: 100%;
}

.personal-info__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  height: 100%;
}

.personal-info__item {
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.personal-info__switch-wrapper {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2px;
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #111111;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-family: inherit;
  border: none;
  -webkit-transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  -o-transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s;
  transition: background-color 150ms ease-in-out 0s, box-shadow 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
}

.personal-info__radio-wrapper {
  color: #111111;
  font-weight: 400;
}

.personal-info__radio-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.personal-info__radio-input:checked + .personal-info__radio-label {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px;
  color: #007e7e;
  background-color: white;
  font-weight: 600;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.personal-info__radio-input-wrapper {
  background-color: #ffffff;
  max-height: 800px;
  top: 0%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, 0);
      -ms-transform: scale(0) translate(-50%, 0);
          transform: scale(0) translate(-50%, 0);
}

.personal-info__radio-input-wrapper--current {
  -webkit-transform: scale(1) translate(-50%, 0);
      -ms-transform: scale(1) translate(-50%, 0);
          transform: scale(1) translate(-50%, 0);
}

@media (max-width: 599px) {
  .personal-info__radio-input-wrapper {
    max-height: unset;
    height: 100%;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.personal-info__radio-row {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
}

.personal-info__radio-col {
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
}

.personal-info__radio-circle-input:checked + .personal-info__radio-circle-label::before {
  background-color: #007e7e;
}

.personal-info__radio-circle-input:checked + .personal-info__radio-circle-label::after {
  content: "";
}

.personal-info__radio-circle-label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0px;
  color: #111111;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.personal-info__radio-circle-label::before {
  display: block;
  content: "";
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.personal-info__radio-circle-label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
}

.personal-info__message {
  position: absolute;
  margin-top: 8px;
  grid-column: 1/-1;
  padding: 12px;
  font-weight: 400;
  color: #004b4b;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid rgba(0, 75, 75, 0.1);
  background-color: rgba(0, 126, 126, 0.1);
  z-index: -100;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.personal-info__message--active {
  position: relative;
  z-index: unset;
  opacity: 1;
}

.message-animation-wrapper {
  padding: 30px;
  position: absolute;
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #f1f2f3;
}

.message-animation-wrapper--opened {
  display: -ms-grid;
  display: grid;
}

.message-animation {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 6fr;
      grid-template-rows: 4fr 6fr;
  grid-row-gap: 10px;
}

.message-animation__list {
  position: relative;
}

.message-animation__item {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.message-animation__item--visible {
  opacity: 1;
}

.message-animation__img {
  margin: 0 auto;
}

.doctor {
  height: 100%;
  padding: 16px 0 0;
}

.doctor__form-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}

.doctor__form {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
}

.doctor__tip {
  margin-top: 5px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #111111;
}

.doctor__radio-input-wrapper {
  max-width: 700px;
  background-color: #ffffff;
  max-height: 800px;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
      -ms-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
}

.doctor__radio-input-wrapper--current {
  -webkit-transform: scale(1) translate(-50%, -50%);
      -ms-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

@media (max-width: 599px) {
  .doctor__radio-input-wrapper {
    max-height: unset;
    height: 100%;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}

.doctor__input--button {
  min-height: 44px;
  height: auto;
}

.doctor__input--button::after {
  content: none;
}

.doctor__radio-input:checked + .doctor__radio-label::after {
  content: none;
}

.doctor__radio-label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 62px;
      grid-template-columns: 1fr 62px;
  grid-column-gap: 20px;
}

.doctor__name, .doctor__button-name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #111111;
}

.doctor__experience, .doctor__button-experience {
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #555555;
  font-size: 16px;
}

.doctor__patients-number, .doctor__button-patients-number {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #999999;
}

.doctor__label-img-wrapper {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.doctor__picture, .doctor__button-picture {
  width: 62px;
  height: 62px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctor__radio-button-label {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 62px;
      grid-template-columns: 1fr 62px;
  grid-column-gap: 20px;
}

.subscription {
  padding: 16px 0;
}

.subscription__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 17px;
}

@media (max-width: 599px) {
  .subscription__list {
    margin-top: 25px;
  }
}

.subscription__button {
  display: block;
  position: relative;
  width: 100%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: none;
  background-color: transparent;
  padding: 33.33% 0 0;
}

@media (max-width: 599px) {
  .subscription__button {
    padding-top: 50%;
  }
}

.subscription__button-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.subscription__button-description {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  margin: 0px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.pay__header-title {
  padding-right: 35px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
