.header {    
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-combine-upright: 0;
    background-color: #fff;
    height: 56px;    
    &--centred-text{       
        justify-content: center;        
    }
    &__title {        
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color:rgb(0, 126, 126);
    }
    &__search-btn{
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        path{
           fill:rgb(0, 126, 126);
        }
    }
    &__search-form {        
        padding: 10px 16px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        column-gap: 16px;
        grid-template-columns: 1fr max-content;
        background-color: #fff;
        transform: translateY(-100px);
        transition: transform 0.3s ease;
        &--current{transform:  translateY(0);}
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;           
            top: 50%;
            transform: translateY(-50%);
            left: 28px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29248 14.8877C9.67871 14.8877 10.957 14.4395 12.0029 13.6924L15.9375 17.627C16.1201 17.8096 16.3608 17.9009 16.6182 17.9009C17.1577 17.9009 17.5396 17.4858 17.5396 16.9546C17.5396 16.7056 17.4565 16.4648 17.2739 16.2905L13.3643 12.3726C14.186 11.2935 14.6758 9.95703 14.6758 8.50439C14.6758 4.99316 11.8037 2.12109 8.29248 2.12109C4.78955 2.12109 1.90918 4.98486 1.90918 8.50439C1.90918 12.0156 4.78125 14.8877 8.29248 14.8877ZM8.29248 13.5098C5.55322 13.5098 3.28711 11.2437 3.28711 8.50439C3.28711 5.76514 5.55322 3.49902 8.29248 3.49902C11.0317 3.49902 13.2979 5.76514 13.2979 8.50439C13.2979 11.2437 11.0317 13.5098 8.29248 13.5098Z' fill='%23111111'%3E%3C/path%3E%3C/svg%3E");
        }
        
    }
    &__search-input {
        position: relative;
        color: $font-black;
        height: 36px;
        padding:12px 12px 12px 40px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        border: none;        
    }

    &__search-btn {
    }
    &__search-results{
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;        
        background-color: #fff;
        z-index: 200;
        display: none;
        min-height: calc(100vh - 55px);
        &--current{
            display: block;
        }
    }
    &__search-item {
        background-color: #fff;
    }
    &__search-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;    
        color: rgb(17, 17, 17);

    }
    &__search-button{
        padding: 0;    
        display: flex;
        align-items: center;
        justify-content: end;
        background-color: transparent;
        border: none;        
        font-family: inherit;              
        &::after{
            margin-left: 5px;
            width: 12px;
            height: 12px;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12' %3E%3Cdefs%3E%3Csvg id='Bold' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5,12a2.3,2.3,0,0,1-.78,1.729L7.568,23.54a1.847,1.847,0,0,1-2.439-2.773l9.752-8.579a.25.25,0,0,0,0-.376L5.129,3.233A1.847,1.847,0,0,1,7.568.46l11.148,9.808A2.31,2.31,0,0,1,19.5,12Z'%3E%3C/path%3E%3C/svg%3E%3C/defs%3E%3Cuse xlink:href='%23Bold' fill='%23999999'%3E%3C/use%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }
}

