.list{
    &__item {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;    
        color: rgb(17, 17, 17);
        text-align: left;
    }
    &__content{
        text-align: right;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: rgb(85, 85, 85);
    }
}