$green:rgb(0, 126, 126);
$dark-green:rgb(0,75,75);
$font-black:rgb(17, 17, 17);
$font-gray: rgb(85, 85, 85);
$popuo-white-bg:rgb(246, 246, 246);
html {
    height: 100%;
}
body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;  
    background-color: #f6f6f6;        
}
.body{   
    &--lock{
        overflow: hidden;
    }
}
.body--full-screen-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.main-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);    
    &--visible{
        display: block;        
    }    
}
.main {        
    padding-top: 56px;
    padding-bottom: 16px;
    background-color: #f6f6f6;  
    min-height: 100vh;   
    display: grid;
    grid-template-rows: 1fr;    
    &--lock{
        height: 100vh;
        overflow: hidden;
        padding: 0;      
    }
    @media(max-width:599px){
        padding-bottom: 0;
    }
    @media(min-width:600px){
        padding-top: 72px;
    }        
    & input:focus, & textarea:focus{
        outline-color: $green;
    }    
}
.container{
    padding: 0 16px;
    margin: 0 auto;   
    width: 100%;
    max-width: 700px;
    background-color: #fff;    
    border-radius: 10px;
    &--personal-info{
        padding: 0;
    }    
}
.main .container {
    @media(max-width:599px){
        margin-bottom: 0;
    }
}


.save-button {
	&__inner {
        width: 100%;
        background-color: $green;
        border:none;
        color: white;
        box-shadow: rgba(#000 ,0.24) 0px 0px 2px, rgba(#000, 0.12) 0px 0px 2px;
        padding: 10px 12px;
        margin: 20px 0;
        border-radius: 6px;
        min-height: 41px;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        font-family: inherit;
        text-transform: uppercase; 
	}
}
.form-description {
    margin-bottom: 5px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(0,75,75,0.1);    
    color: $dark-green;
    background-color: rgba(0,126,126,0.1);
    font-size: 14px;
    line-height: 17px; 
    &__title {
        font-weight: 700;
        margin-bottom: 4px;
    }
    &__text {
        font-weight: 400;      
    }
}



@import 'header';
@import 'data';
@import 'content-section';
@import 'list';
@import 'details';
@import 'popup';
@import 'calculator';
@import 'custom-range';
@import 'personal-info';
@import 'message-animation';
@import 'doctor';
@import 'subscription';
@import 'pay';

